* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", "Crete Round", "Helvetica Neue", sans-serif, serif;
}

html {
  overflow-x: hidden;
}

header {
  width: 100vh;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  box-sizing: content-box;
  background: rgba(255, 255, 255, 0.24);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 92px;
  background-color: #3c3a39;
  position: fixed;
  z-index: 100;
}

#name {
  font-family: "Roboto", Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 15px;
  color: #fff;
  text-decoration: none;
}

.ham {
  margin-right: 24px;
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.home {
  display: flex;
  background-color: #1c1a19;
  background-image: url("img/Illustration.png");
  background-repeat: no-repeat;
  background-position: bottom -50px right;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  top: 92px;
  margin-left: 24px;
  margin-right: 24px;
  width: 100%;
}

.writing {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-bottom: 5px;
  margin-top: 115px;
  color: #ff6b00;
}

.sub-heading {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 2px;
  color: #fff;
}

.media-icon ul {
  display: flex;
  list-style-type: none;
  column-gap: 30px;
  padding-left: 10px;
  margin-top: 12px;
  margin-bottom: 130px;
}
