* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", "Crete Round", "Helvetica Neue", sans-serif, serif;
}

html {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

button {
  background-color: #ff6b00;
  border: none;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

header {
  width: 100vh;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  box-sizing: content-box;
  background: rgba(255, 255, 255, 0.24);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 72px;
  background-color: #3c3a39;
  position: fixed;
  z-index: 100;
}

.nav-menu {
  margin: 0;
  padding: 0;
  /*display: none;*/
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  padding: 1rem;
  display: block;
}

.nav-link:hover {
  background: #fff;
  color: #ff6b00;
}

#name {
  font-family: "Roboto", Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 15px;
  color: #fff;
  text-decoration: none;
  background-color: gold;
  transform: translateX(40px) rotate(25deg);
}

.hamburger {
  margin-right: 24px;
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.home {
  display: flex;
  background-color: #1c1a19;
  background-image: url("img/Illustration.png");
  background-repeat: no-repeat;
  background-position: bottom -50px right;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  top: 92px;
  margin-left: 24px;
  margin-right: 24px;
  width: 100%;
}

.writing {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-bottom: 5px;
  margin-top: 115px;
  color: #ff6b00;
}

.sub-heading {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 2px;
  color: #fff;
}

.media-icon ul {
  display: flex;
  list-style-type: none;
  column-gap: 30px;
  padding-left: 10px;
  margin-top: 12px;
  margin-bottom: 130px;
}

.work-container {
  width: 100vw;
  height: auto;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 327px;
  justify-content: center;
  gap: 50px;
}

.recent-work {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.95fr;
  align-items: center;
  padding-top: 120px;
  background: #fff;
  top: 682px;
}

.recent-work h2 {
  font-size: 38px;
  font-family: "Crete Round", sans-serif;
  color: #091e42;
  font-weight: 400;
  text-align: center;
  transition: 0.5s;
}

hr {
  width: 100%;
  border: none;
  border-top: 1.5px solid #091e42;
}

.post-stories {
  display: flex;
  flex-direction: column;
}

.post-stories img {
  width: 327px;
}

.post-stories h3 {
  font-family: "Crete Round", sans-serif;
  color: #091e42;
  font-weight: 400;
  font-size: 32px;
}

.post-stories p {
  font-family: "Inter", sans-serif;
  color: #091e42;
  margin-top: -20px;
  font-weight: 400;
  font-size: 16px;
}

.post-stories ul {
  list-style: none;
}

.post-stories-tech {
  margin-left: -40px;
}

.post-stories li {
  display: inline;
  margin-right: 5px;
  padding: 8px 12px;
  border: 1px solid #091e42;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.btn {
  padding: 12px;
}

.btn:hover {
  background-color: #e2ab8d;
  transition: 0.4s;
  cursor: pointer;
}

.card {
  background: url(img/Img-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 327px;
  height: 386px;
  margin-bottom: 15px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 295px;
  height: 100%;
  margin: 0% 16px;
}

.card-2 h3 {
  width: 100%;
  font-size: 32px;
  font-weight: 400;
  font-family: "Crete Round", sans-serif;
  color: #fff;
  margin-top: 80px;
}

.card-2 p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #fff;
  margin-top: -15px;
  margin-bottom: 25px;
  padding-right: 20px;
}

.card-technologies {
  list-style: none;
  margin: 0 0 -20px 0;
}

.first-tech {
  margin-left: -40px;
}

.card-tech {
  display: inline;
  color: #fff;
  font-family: "Inter", sans-serif;
  padding: 10px 12px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.24);
}

.btn2 {
  width: 327px;
  padding: 16px;
  margin-top: -2px;
}

.btn2:hover {
  background-color: #e09494;
  transition: 0.3s;
  cursor: pointer;
}

.about-me {
  display: flex;
  background: #1c1a19;
  width: 100%;
  left: 0;
  background-image: url(img/Frame.png);
  background-repeat: no-repeat;
  background-position: top 395px right 0%;
}

.about {
  width: 100%;
  margin: 0% 10px;
}

.about h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin-bottom: 4px;
  color: #ff6b00;
  margin-top: 120px;
  margin-left: 24px;
}

.about p {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 0%;
  margin-left: 24px;
}

.btn3 {
  padding: 16px 30px;
  margin-top: 20px;
  margin-left: 24px;
}

.btn3:hover:hover {
  background-color: #daa520;
  transition: 0.4s;
}

.hr2 {
  display: flex;
  width: 327px;
  margin: 220px 24px 130px 14px;
  border: 1px solid #fff;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 55px;
}

.language,
.framework,
.skills {
  display: flex;
  color: #fff;
  text-decoration: none;
  bottom: 44px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.language {
  margin-top: -13%;
}

.tech-language li,
.tech-framework li,
.tech-skills li {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 22px;
}

.tech-language ul,
.tech-framework ul,
.tech-skills ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0%;
}

.skills {
  display: flex;
  justify-content: center;
}

.framework {
  display: flex;
  justify-content: center;
}

.language #lang {
  list-style-image: url(img/Rectangle\ 55.png);
  margin-bottom: 15%;
}

.framework #frame {
  list-style-image: url(img/Rectangle\ 56.png);
  margin-bottom: 15%;
}

.skills #skill {
  list-style-image: url(img/Rectangle\ 57.png);
  margin-bottom: 15%;
}

.tech-language ul li a,
.tech-framework ul li a,
.tech-skills ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 32px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
  left: 0;
  background-color: #ffff;
}

.form-title {
  margin: 120px 24px 10px 24px;
  width: 327px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
}

label {
  display: none;
}

.form-input {
  width: 327px;
  height: 48px;
  margin: 0 24px;
  padding: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

.form input:nth-child(1) {
  width: 327px;
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.textmsg {
  width: 327px;
  height: 114px;
  margin-top: 24px;
  margin-left: 24px;
  background: #fbf8f7;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  color: #3c3a39;
}

.submit-btn {
  align-items: center;
  border: none;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 12px;
  margin-left: 20%;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.media-icon2 {
  width: 375px;
  left: 0;
  margin-top: 124px;
  background-color: #fff;
}

.media-icon2 ul {
  display: flex;
  justify-content: center;
  margin: 18px 88px;
}

.media-icon2 ul li a {
  display: flex;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.hr3 {
  width: 100%;
  height: 1px;
  left: 0;
  margin-bottom: 27px;
  background: #dfe1e6;
  color: #dfe1e6;
}

.hr4 {
  width: 134px;
  height: 5px;
  bottom: 10px;
  margin-left: 37%;
  background: #0d151e;
  border-radius: 10px;
}

/* --------- mobile media queries...... */
@media (max-width: 767px) {
  .nav-menu {
    position: fixed;
    flex-direction: column;
    gap: 3%;
    background-color: #3c3a39;
    width: 100vw;
    height: 90vh;
    text-align: center;
    transition: 0.3s;
    top: 70px;
    left: -100%
  }

  .nav-link {
    color: #fff;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    font-size: 28px;
    border: none;
    border-bottom: 1px solid #979493;
    margin: 0% 5%;
  }

  .nav-menu.active {
    left: 0%;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
}

/* ---------desktop media queries...... */
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0% 10%;
  }

  label {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  .home {
    background-image: url("img/Illustration-header.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: top -20% right 0%;
  }

  .writing {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0% 0% 5% 10%;
  }

  .description {
    padding-bottom: 15%;
  }

  .heading {
    padding-top: 15%;
  }

  .media-icon {
    display: flex;
    position: absolute;
    left: 36px;
  }

  .media-icon ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    align-content: center;
    margin-top: 250px;
  }

  .media-icon img {
    width: 65%;
  }

  .work-container {
    display: grid;
    width: 90%;
    margin-right: 143px;
    margin-left: 141px;
  }

  .recent-work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 794px;
    margin-left: 153px;
  }

  .recent-work h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 327px;
    left: 153px;
    text-align: left;
  }

  .recent-work hr {
    grid-column-start: 2;
    grid-column-end: 4;
    height: 1.5px;
    margin: 28px 10% 0% 2%;
    width: 794px;
  }

  .post-stories {
    grid-column: 1/4;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 24px;
  }

  .post-stories img {
    width: 684px;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  .multi-post {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    gap: 10px;
    row-gap: 24px;
  }

  .multi-post h2 {
    font-family: "Crete Round", sans-serif;
    font-size: 40px;
    line-height: 52px;
    margin: -10px;
    margin-bottom: 10px;
  }

  .multi-post p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-right: 15%;
  }

  .post-stories ul {
    margin-top: -10px;
  }

  .post-stories button {
    padding: 12px 14px;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 37px;
  }

  .card {
    height: 435px;
  }

  .card-hover:hover {
    border: 3px solid #0d151e;
    cursor: pointer;
    width: 328px;
    height: 435px;
  }

  .btn2 {
    display: none;
  }

  .about-me {
    background: #000;
    width: 100%;
    background-image: url(img/Frame-1.png);
    background-repeat: no-repeat;
    background-position: top 15% right 0%;
    background-size: 35%;
  }

  .about h2,
  .about p,
  .btn3 {
    margin-left: 10%;
  }

  .about p {
    width: 36%;
  }

  .hr2 {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }

  .experience {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25%;
    margin-left: 0%;
  }

  .contact {
    display: flex;
    width: 100%;
    margin-left: 0%;
  }

  .form-title {
    width: 455px;
    text-align: start;
    margin-left: 135px;
    margin-top: 130px;
  }

  .contact-form {
    background-color: #ffff;
  }

  .form {
    width: 684px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 130px 142px 154px 24px;
    padding: 0%;
  }

  .form-input {
    margin: 0 24px;
    padding: 16px;
    display: flex;
    align-items: flex-start;
  }

  .textmsg {
    width: 600px;
    height: 114px;
    margin-top: 24px;
    margin-left: 24px;
    padding: 12px;
  }

  .form input:nth-child(1) {
    width: 600px;
  }

  .submit-btn {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    padding: 12px;
    margin-left: 24px;
  }

  .submit-btn:hover {
    background-color: #e2ab8d;
    transition: 0.3s;
    cursor: pointer;
  }

  .form input:nth-child(2) {
    margin-right: 460px;
    align-items: flex-start;
  }

  .media-icon2 {
    display: flex;
    margin-left: -5%;
    margin-top: 66px;
  }
}
